{% extends 'base.html.twig' %}

    {% block title %}
        Créer un produit
    {% endblock %}

    {% block body %}
        <h1>Créer un produit</h1>

        
        {{ form(form) }}
    {% endblock %}