{% extends 'base.html.twig' %}

    {% block title %}
        Éditer un produit
    {% endblock %}

    {% block body %}
        <h1>Éditer un produit</h1>


        {{ form(form) }}
    {% endblock %}